/* change.htmlに対応するスタイル */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    border: black 2px solid;
    border-radius: 30px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:disabled {
    background-color: gray;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
